body {
    background: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

main {
    width: 90%;
    max-width: 800px;
}

section {
    background: #e0e0e0;
    border-radius: 16px;
    box-shadow: 9px 9px 16px #bebebe, -9px -9px 16px #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-text {
    flex: 1;
}

.profile-image {
    flex-shrink: 0;
    margin-left: 20px;
}

.profile-image img {
    border-radius: 50%;
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    width: 150px;
    height: 150px;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

p, ul, li {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #e0e0e0;
    border-radius: 8px;
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    margin-bottom: 10px;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
}

button {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #005f99;
}

#fortuneResult {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}
